:root {
  --border: #52b788;
  --dark: #d8f3dc;
  --darker: #dddddd;
  --darkest: #fafafa;
  --text-one: #2d6a4f;
  --text-two: ;
  --accent-one: #0096FF;
  --accent-two: ;
}

html[data-theme="dark"] {
  --border: #323232;
  --dark: #202020;
  --darker: #171717;
  --darkest: #101010;
  --text-one: ;
  --text-two: ;
  --accent-one: ;
  --accent-two: ;
}

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text-one);
}

img {
  image-rendering: pixelated;
}

body {
  background: url('img/people-bg.png');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 1100px;
  height: 750px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  transform: translateY(-50px);
}

#hero-image {
  background: url('img/banner.png');
  background-position: center;
  background-size: cover;
}

.sub-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkest);
  border: solid 1px var(--border);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.15);
}

.sub-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
  padding: 1em;
}

.sub-list > div {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
 
.sub-list a {
  display: flex;
  align-items: center;
  gap: 0.75em;
  text-align: center;
  font-size: 0.85em;
}

.sub-list a:hover {
  color: var(--accent-one);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin: 0.25em 0;
}

.small-gif {
  width: 20px;
  height: 20px;
}

.header {
  height: 32px;
  width: 100%;
  font-size: 0.65em;
  background-color: var(--dark);
  border-bottom: solid 1px var(--border);
  padding-block: 0.5em;
  padding-bottom: 0.4em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

#kaiying-art {
  overflow: hidden;
}

#kaiying-bg {
  width: 100%;
  height: 100%;
  background: url('img/kaiying.png');
  background-position: center;
  background-size: cover;
}

#footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
}

#footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-left {
  grid-column: 1 / 4;
}

#footer-middle {
  grid-column: 4 / 10;
  gap: 0.75em;
}

#footer-right {
  grid-column: 10 / 13;
}

#naruto {
  position: absolute;
  bottom: -123px;
  left: calc(50% - 51px);
}